* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display:block;
	clear: both;
}

.top-page p {
	padding:20px 30px;
	font-size: 13px;
}

.top-page span {
	font-weight: bold;
}

body {
	width:100%;
	padding:30px 0 0 30px;
}

.index-title {
}

table th{
	font-size: 12px;
	font-weight: 900;
}

table td {
	font-size:13px;
	padding:5px;
}

.table-title {
	width:200PX;
}

.table-body {
	width:300px;
}

.table-btn {
	width:150px;
}

.form h3{
	padding:20px 0;
}

label {
	display: block;
	font-size: 12px;
}

.errors-box {
	width:450px;
	border: 2px solid red;
	font-size: 12px;
	margin-bottom: 20px;
}

.errors-box ul{
	list-style: inside;
	padding:30px 0 30px 50px;
}

.errors-header {
	background-color: #b22222;
	color: white;
	font-weight: bold;
	line-height: 30px;
	padding-left: 20px
}

.error-messages {
	background-color: #f5f5f5;
}

.field_with_errors {
	border:2px solid red;
	background-color: red;
	display: table;
}

.form-field {
	margin-bottom:10px;
}

.submit-btn {
	display:block;
}

.show p{
	padding:15px 35px;
	font-size: 13px
}

.show span{
	font-weight: bolder;
}

.edit-btn, .page-btn p, .back-btn, .show-btn{
	float:left;
	font-size:13px;
	margin:0 2px;
}

.btn:hover {
	background-color:black;
	color:white;
}

.flash {
	color:green;
}

.image1 {
	background: image-url('image1.jpg');
}
.image2 {
	background: image-url('image2.jpg');
}
.image3 {
	background-image: url(image3.jpg);
}
.image4 {
	background-image: url(image4.jpg);
}
.image5 {
	background-image: url(image5.jpg);
}

#container {
	  height: 500px;
 }


